<?xml version="1.0"?>
<launch>
	<node name="feature_detector" pkg="feature_detector" type="feature_detector" output="screen" ns="mobot0" >
		<remap from="feature_detector/FeatureSetWithDeltaPoseAndID" to="FeatureSetWithDeltaPoseAndID" />
	</node>

	<node name="slam" pkg="slam" type="slam" output="screen" >
	</node>

	<node name="rviz" pkg="rviz" type="rviz" output="screen" >
	</node>

	<node name="image_store" pkg="image_store" type="image_store" output="screen" >
	</node>

   <!-- map_visualization_helper -->
   <node name="map_visualization_helper" pkg="map_visualization_helper" type="map_visualization_helper" />
   
   <!-- Rviz -->
   <node name="path_planner" pkg="path_planner" type="path_planner" />

</launch>