
<?xml version="1.0" ?>
<robot name="mobot">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.01" radius="0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                         iyy="1.0" iyz="0.0"
                                   izz="1.0" />
    </inertial>
  </link>

  <link name="camera">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.1 0.1" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>

    <inertial>
      <mass value="1" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                         iyy="1.0" iyz="0.0"
                                   izz="1.0" />
    </inertial>
  </link>

  <joint name="base_to_camera" type="fixed">
	<origin xyz="0 0 0" rpy="0.0 1.57 0.0" />
    <parent link="base_link"/>
    <child link="camera"/>
  </joint>


  <gazebo reference="camera">
    <sensor:camera name="camera_sensor">
      <imageSize>640 480</imageSize>
      <imageFormat>R8G8B8</imageFormat>
      <hfov>90</hfov>
      <nearClip>0.01</nearClip>
      <farClip>100</farClip>
      <updateRate>20</updateRate>
      <controller:gazebo_ros_camera name="camera_controller" plugin="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>20</updateRate>
        <imageTopicName>my_cam/image</imageTopicName>
        <frameName>deine mudda</frameName>
        <interface:camera name="camera_iface" />
      </controller:gazebo_ros_camera>
    </sensor:camera>
    <turnGravityOff>true</turnGravityOff>
    <material>PR2/Blue</material>
  </gazebo>

</robot>
