<?xml version="1.0"?>
<launch>
<node name="hardware_driver" pkg="hardware_driver" type="hardware_driver" ns="$(env ROS_NAMESPACE)" >
	<remap from="hardware_driver/mouse" to="mouse" />
	<remap from="hardware_driver/globalPose" to="globalPose" />
	<remap from="hardware_driver/infrared" to="infrared" />
	<remap from="hardware_driver/setGlobalPose" to="setGlobalPose" />
	<remap from="hardware_driver/velocity" to="velocity" />
</node>
<node name="penis" pkg="mobots_teleop" type="mobot_keyboard_teleop" />
</launch>
