<launch>

  <!-- as in /opt/ros/fuerte/stacks/pr2_simulator/pr2_gazebo/pr2_no_controllers.launch -->

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_mobot_model" pkg="gazebo" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -file $(find mobots_simulation)/models/mobot.urdf -model mobot" respawn="false" output="screen" />

</launch>

